<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

{% if site.theme.footer_text %}
<footer class="site-footer">
  <p class="text">{{ site.theme.footer_text }}</p>
</footer>
{% endif %}

{% if site.theme.google_tag_manager %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id='{{ site.theme.google_tag_manager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
