{% if site.theme.google_tag_manager %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id='{{ site.theme.google_tag_manager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}

<header class="site-header">
	<nav class="site-nav">
		<ul>
			{% for page in site.pages %}
			{% if page.title and page.hide != true %}
			<li>
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</nav>

	{% if site.theme.header_text %}
  <div class="call-out">
  	<!-- <h1 class="site-title">
      <a href="{{ site.baseurl }}/"><img width="400" src="{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}" alt="{{ site.theme.title }}" /></a>
    </h1> -->
		<!-- <div class="divider"></div> -->
    {{ site.theme.header_text }}
    <div class="divider"></div>
    <!-- Social icons from Font Awesome, if enabled -->
	  <ul>
	    {% include icons.html %}
		</ul>
  </div>
  {% endif %}
</header>
